section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}
.input{
    height: 32px;
    width: 240px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
}

thead {
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
}

th, td {
    border: 1px solid black; 
    padding: 8px; 
}

tbody tr:nth-child(even) {
    background-color: var(--bg-color-mid); 
}

tfoot {
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    text-align: center;
}
