<section>
  <header>
      <form [formGroup]="searchForm" (submit)="onSearch()" class="search-form">
        <input
          type="text"
          placeholder="Search product"
          formControlName="query"
          class="search-bar shadow-primary-no-transition"
        />
        <button type="submit" class="search-submit shadow-success">
          Search
        </button>
      </form>
    <div class="title">
      <h1>Urban Sneak</h1>
    </div>
    <div class="user-info">
      <p>Carrito</p>
      @if(isLoggedIn===true) {
      <p>
        Hola, <span>{{ userName }}</span
        >!
      </p>
      <p class="btn-nav" (click)="logout()">Log out</p>
      }@else{
      <p class="btn-nav" (click)="navigateTo('/login')">Log In</p>
      }
    </div>
  </header>
  <hr />
  <nav>
    <p (click)="navigateTo('/home')" class="btn-nav">Home</p>
    <p class="btn-nav">Categories</p>
    <p class="btn-nav">About us</p>
    <p class="btn-nav">Contact</p>
    @if (getRole()==='ADMIN') {
    <p (click)="navigateTo('/management')" class="btn-nav">Admin Menu</p>
    }
  </nav>
  <hr />
</section>
