<section>
  <header>
    <div class="search-bar" (submit)="onSearch()">
      <form [formGroup]="searchForm">
        <input type="text" placeholder="Search product" formControlName="query">
        <button type="submit">buscar</button>
      </form>
    </div>
    <div class="title">
      <h1>Urban Sneak</h1>
    </div>
    <div class="user-info">
      <p>Carrito</p>
      @if(isLoggedIn===true) {
      <p>
        Hola, <span>{{ userName }}</span
        >!
      </p>
      <p class="btn-nav" (click)="logout()">Log out</p>
      }@else{
      <p class="btn-nav" (click)="navigateTo('/login')">Log In</p>
      }
    </div>
  </header>
  <hr />
  <nav>
    <p (click)="navigateTo('/home')" class="btn-nav">Home</p>
    <p class="btn-nav">Categories</p>
    <p class="btn-nav">About us</p>
    <p class="btn-nav">Contact</p>
    @if (getRole()==='ADMIN') {
      <p (click)="navigateTo('/management')" class="btn-nav">Admin Menu</p>
    }
  </nav>
  <hr />
</section>
