/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #FFD23F; 
    --secondary-color: #001829;
    --danger-color: #84828F;
    --text-color: #ffffff; /* Gris oscuro */
    --bg-color: #FFF; /* Gris claro */
}
  
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
}
