<footer>
    <div class="social">
        <h3>Social networks</h3>
        <div class="content-info">
            <p>Instagram</p>
            <p>Facebook</p>
        </div>
    </div>
    <div class="info">
        <h3>More Information</h3>
        <div class="content-info">
            <p>Change policies</p>
            <p>Contact us</p>
            <p>Wholesale</p>
        </div>
    </div>
    <div class="attention">
        <h3>Personalized Attention</h3>
        <div class="content-info">
            <p>Chat with us!</p>
            <p>Direction 1</p>
            <p>Direction 2</p>
            <p>Direction 3</p>
        </div>
    </div>
    <div class="copyright">
        <p>© 2024 Urban Sneak. All Rights Reserved.</p>
    </div>
</footer>